	.btnStyle {
		background: #D9C2AD;
		color: white;
		width: 146px;
		height: 57px;
		font-size: 20px;
		border-radius: 40px;
		border-color: white;
		font-weight: bold;
	}
	
	.btnStyle:hover {
		background: #11A13C;
	}
	
	.donation_con {
		width: 1280px;
		height: 160px;
		background: #F2D4B4;
		margin: 40px 0;
		padding: 10px;
		position: relative;
	}
	
	.done_btn {
		position: absolute;
		bottom: 40px;
		left: 1150px;
		background: #9C6B4F;
		color: white;
		width: 83px;
		height: 83px;
		font-size: 17px;
		border-radius: 50px;
		border: none;
		font-weight: bold;
		cursor: pointer;
	}
	
	.done_btn:hover {
		background: #80360C;
	}
