#map { 
  position: relative;
  height: 800px; 
  width: 100%; 
  z-index:1;
}

.label-text {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  color: #adadad;
  text-shadow: 1px 1px 2px white;
  font-size: 15px;
  pointer-events: none;
}

.custom-popup {
  font-family: "Noto Sans KR", sans-serif;
  background: #f9f4ec;
  border-radius: 12px;
  padding: 20px 25px;
  color: #8b6f5b;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 280px;
}

.custom-popup h3 {
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 20px;
}

.custom-popup p {
  margin: 0 0 15px 0;
  font-weight: 500;
  font-size: 14px;
}

.custom-popup button {
  background-color: #c4a98a;
  border: none;
  border-radius: 8px;
  padding: 8px 18px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-popup button:hover {
  background-color: #a87f5a;
}

.legend-highlight {
  background-color: black;
  color: white !important;
  padding: 2px 6px;
  text-align: center;
  border-radius: 8px;
  text-shadow: none;
}

.see {
  background: #9C6B4F;
  color: white;
  font-size: 16px;
  width: 160px;
  height: 45px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  padding: 10px;
}

.see:hover {
  background: #5D290B;
}

.custom-see-container {
  margin-top: 10px;
  margin-right: 10px;
}
